<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'account:register' %}">
        {%csrf_token%}
        <div>用户名:<input type="text" placeholder="pealse enter your name" name="username">{{ obj.errors.username.0 }}</div>
        <div>密码:<input type="password" placeholder="pealse enter your password" name="password">{{ obj.errors.password.0 }}</div>
        <div><a href="/account/login/">返回登录>>></a></div>
        <input type="submit" value="注册">
    </form>
</body>
</html>