<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'account:unsubscribe' booth_id %}">{% csrf_token %}
        <p>
            You are unbooking a booth. Please confirm your application. We will review your request within two to three working days, please be patient.
        </p>
        <div>
            <div style="display:inline-block;width: 208px;text-align: center;margin-top: 28px;">
                choose end time:
            </div>
            <input type="datetime-local" id="date_info" name="unsubscribe-time">
            <input type="submit" text="提交">
        </div>
    </form>
</body>
</html>